a {
  display: block;
  margin-bottom: var(--mfe-margin-bottom);
  font: var(--mfe-text-1) / var(--mfe-line-height-1)
    var(--mfe-font-family-sans-serif);
}

div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: calc(7 * var(--mfe-spacing-1));
}

img {
  width: 200px;
  height: 200px;

  border: 1px solid var(--mfe-color-night);
  background-color: var(--mfe-color-jet);
  border-radius: 8px;
  box-shadow: inset 0px 0px 49px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0px 0px 49px -13px rgba(0, 0, 0, 0.75);
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: calc(3.5 * var(--mfe-spacing-1)) 0;
  margin: 0;

  font: var(--mfe-font-h6);
}

dt {
  grid-column-start: 1;
}

dt::after {
  content: ":";
}

dd {
  grid-column-start: 2;
}
